<div class="row-fluid">
    <h2 class="page-header">
        Accounts
    </h2>

    <div class="sf-table-container">
        <table st-table="vm.diplayedAccounts" st-safe-src="vm.accounts">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Technical</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="acc in vm.diplayedAccounts">
                    <td>
                        <a ui-sref="account-detail({id: acc.id})" class="sf-block-link">
                            {{ ::acc.name }}
                        </a>
                    </td>
                    <td>{{ ::acc.description }}</td>
                    <td>
                        <input type="checkbox" ng-model="acc.technical" disabled>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="button" ui-sref="account-detail({id: 'new'})">
        Add account
    </a>
</div>

