<div class="row-fluid">
    <h1 class="page-header">
        Accounts
    </h1>


    <table st-table="vm.diplayedAccounts" st-safe-src="vm.accounts">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in vm.diplayedAccounts">
                <td>{{ ::acc.name }}</td>
                <td>{{ ::acc.description }}</td>
                <td>
                    <span ng-click="vm.openEditModal(acc)">
                        Edit
                    </span>

                    <span ng-click="vm.deleteItem(acc)">
                        Delete
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="button" ng-click="vm.openAddModal()">
        Add account
    </button>
</div>

