<div>
    <h2>
        Transactions
    </h2>

    <div class="row sf-filter">
        <div class="small-12 large-12 columns">

            <div class="row">
                <div class="small-8 large-4 columns">
                    <button type="button" class="button tiny secondary"
                            ng-click="vm.layout.isFilterVisible = !vm.layout.isFilterVisible">
                        FILTER
                    </button>

                    {{ vm.filteredTransactions.length }} items
                </div>

                <div class="small-4 large-2 columns">

                </div>
            </div>
        </div>

        <div class="sf-filter-body" ng-if="vm.layout.isFilterVisible">
            <div class="small-12 large-4 columns">
                <label>From date
                    <input type="date" ng-model="vm.filter.date.from" ng-model-options="{debounce: 200}"/>
                </label>
            </div>

            <div class="small-12 large-4 columns">
                <label>To date
                    <input type="date" ng-model="vm.filter.date.to" ng-model-options="{debounce: 200}"/>
                </label>
            </div>

            <div class="small-12 large-4 columns end">
                <label>Description
                    <input type="text" ng-model="vm.filter.description" ng-model-options="{debounce: 200}"/>
                </label>
            </div>
        </div>
    </div>

    <div class="sf-table-container">
        <table st-table="vm.diplayedTransactions" st-safe-src="vm.filteredTransactions">
            <filter-watch src="vm.transactions" dest="vm.filteredTransactions" filter="vm.filter"></filter-watch>

            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Account</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tr in vm.diplayedTransactions">
                    <td>
                        <a ui-sref="transaction-detail({id: tr.id})" class="sf-block-link">
                            {{ ::tr.description }}
                        </a>
                    </td>
                    <td>{{ ::tr.date | date : 'yyyy.MM.dd.' }}</td>
                    <td class="right">{{ ::tr.amount | currency : 'Ft' : 0 }}</td>
                    <td>
                        {{ ::tr.accountName }}
                        <span ng-if="::tr.toAccountName">
                            -> {{ ::tr.toAccountName }}
                        </span>
                    </td>
                    <td>{{ ::tr.tagNames }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="button" ui-sref="transaction-detail({id: 'new'})">
        Add transaction
    </a>
</div>

