<div>
    <h2>
        Transactions
    </h2>

    <div class="sf-table-container">
        <table st-table="vm.diplayedTransactions" st-safe-src="vm.transactions">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Account</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tr in vm.diplayedTransactions">
                    <td>
                        <a ui-sref="transaction-detail({id: tr.id})">
                            {{ ::tr.description }}
                        </a>
                    </td>
                    <td>{{ ::tr.date | date : 'yyyy.MM.dd.' }}</td>
                    <td class="right">{{ ::tr.amount | currency : 'Ft' : 0 }}</td>
                    <td>
                        {{ ::tr.accountName }}
                        <span ng-if="::tr.toAccountName">
                            -> {{ ::tr.toAccountName }}
                        </span>
                    </td>
                    <td>{{ ::tr.tags }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="button" ui-sref="transaction-detail({id: 'new'})">
        Add transaction
    </a>
</div>

