<div class="row-fluid">
    <h1 class="page-header">
        Tags
    </h1>

    <table st-table="vm.diplayedTags" st-safe-src="vm.tags">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in vm.diplayedTags">
                <td>{{ ::tag.name }}</td>
                <td>{{ ::tag.description }}</td>
                <td>
                    <span ng-click="vm.openEditModal(tag)">
                        Edit
                    </span>

                    <span ng-click="vm.deleteItem(tag)">
                        Delete
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="button" ng-click="vm.openAddModal()">
        Add tag
    </button>
</div>

