<form>
    <h2>{{ ::(vm.isNew ? 'Create' : 'Edit' ) }} transaction </h2>

    <div class="row">
        <div class="large-6 columns">
            <label>Description
                <input type="text" ng-model="vm.transaction.description" required />
            </label>
        </div>

        <div class="large-6 columns">
            <label>Date
                <input type="date" ng-model="vm.transaction.date" required />
            </label>
        </div>

        <div class="large-6 columns">
            <label>Type
                <select ng-model="vm.transaction.type"
                        required>
                    <option value="Expense" selected>Expense</option>
                    <option value="Income">Income</option>
                    <option value="Transfer">Transfer</option>
                </select>
            </label>
        </div>

        <div class="large-6 columns">
            <label>Amount
                <input type="number" min="-10000000" max="10000000"
                       ng-model="vm.transaction.amount"
                       required />
            </label>
        </div>

        <div class="large-6 columns">
            <label>Account
                <select ng-model="vm.transaction.accountId"
                        ng-options="acc.id as acc.name for acc in vm.accounts"
                        required>
                </select>
            </label>
        </div>

        <div class="large-6 columns" ng-if="vm.transaction.type === 'Transfer'">
            <label>To account
                <select ng-model="vm.transaction.toAccountId"
                        ng-options="acc.id as acc.name for acc in vm.accounts">
                </select>
            </label>
        </div>

        <div class="large-6 columns end">
            <label>Tags
                <select ng-model="vm.transaction.tagIds"
                        ng-options="tag.id as tag.name for tag in vm.tags"
                        multiple >
                </select>
            </label>
        </div>
    </div>

    <div class="row" ng-if="::vm.isNew" >
        <div class="large-12 columns">
            <label>
                <input type="checkbox" value="false"
                        ng-model="vm.createAnother">
                Create another
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-2 small-6 columns">
            <button class="button sf-button" ng-click="vm.save()">
                Save
            </button>
        </div>

        <div class="large-2 small-6 columns">
            <a class="button secondary sf-button" ui-sref="transaction">
                Cancel
            </a>
        </div>

        <div class="large-2 small-6 columns end">
            <button ng-if="::!vm.isNew" class="button alert sf-button" ng-click="vm.delete()">
                Delete
            </button>
        </div>
    </div>
</form>