<form ng-submit="vm.save()">
    <h2>{{ ::(vm.isNew ? 'Create' : 'Edit' ) }} transaction </h2>

    <md-content>
        <md-autocomplete md-no-cache="true"
                         md-min-length="1"
                         md-search-text="vm.transaction.description"
                         md-items="item in vm.suggestDescription(vm.transaction.description)"
                         md-item-text="item"
                         required
                         md-autofocus
                         md-floating-label="Description">
            <md-item-template>
                <span md-highlight-text="vm.transaction.description" md-highlight-flags="^i">{{ item }}</span>
            </md-item-template>
        </md-autocomplete>

        <md-input-container class="md-block" >
            <label>Date</label>
            <!--<md-datepicker ng-model="vm.transaction.date" required></md-datepicker>-->
            <input type="date" ng-model="vm.transaction.date" required />
        </md-input-container>


        <md-input-container class="md-block" >
            <label>Type</label>
            <md-select ng-model="vm.transaction.type" required>
                <md-option value="Expense">Expense</md-option>
                <md-option value="Income">Income</md-option>
                <md-option value="Transfer">Transfer</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" >
            <label>Amount</label>
            <input type="number" min="-10000000" max="10000000"
                   ng-model="vm.transaction.amount"
                   required />
        </md-input-container>

        <md-input-container class="md-block" >
            <label>Account</label>
            <md-select ng-model="vm.transaction.accountId" required>
                <!--ng-options="acc.id as acc.name for acc in vm.accounts"-->
                <md-option ng-repeat="acc in vm.accounts" value="{{ acc.id }}">
                    {{ acc.name }}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container ng-if="vm.transaction.type === 'Transfer'" class="md-block" >
            <label>To account</label>
            <md-select ng-model="vm.transaction.toAccountId">
                <md-option ng-repeat="acc in vm.accounts" value="{{ acc.id }}">
                    {{ acc.name }}
                </md-option>
            </md-select>
        </md-input-container>

        <md-autocomplete md-no-cache="true"
                         md-min-length="0"
                         md-search-text="vm.tagSearchText"
                         md-selected-item="vm.selectedTag"
                         md-items="tag in vm.suggestTag(vm.tagSearchText)"
                         md-item-text="tag.name"
                         required
                         md-floating-label="Tag">
            <md-item-template>
                <span md-highlight-text="vm.tagSearchText" md-highlight-flags="^i">{{ tag.name }}</span>
            </md-item-template>
        </md-autocomplete>
    </md-content>

    <md-content>
        <md-button type="submit" class="md-raised md-primary">
            Save
        </md-button>

        <a class="button secondary sf-button" state-ref="app.transaction">
            <md-button class="md-raised">
                Cancel
            </md-button>
        </a>

        <md-button ng-if="::!vm.isNew" ng-click="vm.remove()"
                   class="md-raised md-warn" >
            Delete
        </md-button>
    </md-content>
</form>