<form>
    <h2>Create multiple transactions</h2>

    <div layout="row"
         class="sf-transaction-batch-header">
        <div flex="30" class="sf-col">Description</div>
        <div flex="10" class="sf-col">Date</div>
        <div flex="10" class="sf-col">Type</div>
        <div flex="10" class="sf-col">Amount</div>
        <div flex="10" class="sf-col">Account</div>
        <div flex="30" class="sf-col">Tag</div>
    </div>

    <div layout="row"
         class="sf-transaction-batch"
         ng-repeat="transaction in vm.transactions"
         transaction-item="transaction"
         descriptions="vm.descriptions"
         accounts="vm.accounts"
         tags="vm.tags">
    </div>

    <md-content>
        <md-button ng-click="vm.extendTransactionList(2)">
            Add more...
        </md-button>
    </md-content>

    <md-content>
        <md-button class="md-raised" ng-click="vm.save()">
            Save
        </md-button>

        <a state-ref="app.transaction">
            <md-button class="md-raised">
                Cancel
            </md-button>
        </a>
    </md-content>
</form>