<form>
    <h2>Create multiple transactions</h2>

    <table class="sf-transaction-batch-table">
        <thead>
            <th class="description-col">Description</th>
            <th class="date-col">Date</th>
            <th class="type-col">Type</th>
            <th class="amount-col">Amount</th>
            <th class="account-col">Account</th>
            <th class="tags-col">Tags</th>
        </thead>

        <tbody>
            <tr ng-repeat="transaction in vm.transactions">
                <td class="description-col">
                    <div mass-autocomplete>
                        <input type="text" required
                               ng-model="transaction.description"
                               mass-autocomplete-item="{'suggest': vm.suggestDescription}"/>
                    </div>
                </td>
                <td class="date-col">
                    <input type="date" ng-model="transaction.date" required />
                </td>
                <td class="type-col">
                    <select ng-model="transaction.type" required>
                        <option value="Expense" selected>Expense</option>
                        <option value="Income">Income</option>
                    </select>
                </td>
                <td class="amount-col">
                    <input type="number" min="-10000000" max="10000000"
                           ng-model="transaction.amount"
                           required />
                </td>
                <td class="account-col">
                    <select ng-model="transaction.accountId"
                            ng-options="acc.id as acc.name for acc in vm.accounts"
                            required>
                    </select>
                </td>
                <td class="tags-col">
                    <div isteven-multi-select
                         input-model="vm.tagOptions[$index]"
                         output-model="transaction.tags"
                         output-properties="id"
                         button-label="name"
                         item-label="name"
                         tick-property="isSelected"
                         helper-elements="none filter"
                         max-height="280px"
                         translation="{ 'nothingSelected': '', 'search': 'Search...', 'selectNone': 'Select None' }">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a ng-click="vm.extendTransactionList(2)">
        Add more...
    </a>
    <br><br>

    <div class="row sf-full-width">
        <div class="large-2 small-6 columns">
            <button class="button sf-button" ng-click="vm.save()">
                Save
            </button>
        </div>

        <div class="large-2 small-6 columns end">
            <a class="button secondary sf-button" ui-sref="transaction">
                Cancel
            </a>
        </div>
    </div>
</form>