.sf-transaction-batch-table {
  input {
    margin: 0;
  }

  td {
    padding: 6px;
  }

  .description-col {
    width: 220px;
  }
  .date-col {
    input {
      width: 145px;
    }
  }
  .type-col {
    width: 105px;
  }
  .amount-col {
    width: 100px;
  }
  .account-col {
    width: 120px;
  }
  .tags-col {

  }
}

.multiSelect {

  .helperButton {
    padding: 1px 6px;
  }

  .clearButton {
    padding: 1px 6px;
    top: 2px;
    right: 0px;
  }

}