.sf-transaction-batch-table {
  input {
    margin: 0;
  }

  td {
    padding: 6px;
  }

  .description-col {
    width: 200px;
  }
  .date-col {
    width: 130px;
  }
  .type-col {
    width: 105px;
  }
  .amount-col {
    width: 100px;
  }
  .account-col {
    width: 120px;
  }
  .tags-col {

  }
}
