<form>
    <h2>Create multiple transactions</h2>

    <md-content>
        <table class="sf-transaction-batch-table">
            <thead>
                <th class="description-col">Description</th>
                <th class="date-col">Date</th>
                <th class="type-col">Type</th>
                <th class="amount-col">Amount</th>
                <th class="account-col">Account</th>
                <th class="tags-col">Tags</th>
            </thead>

            <tbody>
                <tr ng-repeat="transaction in vm.transactions"
                    transaction-item="transaction"
                    descriptions="vm.descriptions"
                    accounts="vm.accounts"
                    tags="vm.tagOptions[$index]">
                </tr>
            </tbody>
        </table>
    </md-content>

    <md-content>
        <md-button ng-click="vm.extendTransactionList(2)">
            Add more...
        </md-button>
    </md-content>

    <md-content>
        <md-button class="md-raised" ng-click="vm.save()">
            Save
        </md-button>

        <a state-ref="app.transaction">
            <md-button class="md-raised">
                Cancel
            </md-button>
        </a>
    </md-content>
</form>