<form>
    <h2>{{ ::vm.title }}</h2>

    <div class="row">
        <div class="large-12 columns">
            <label>Name
                <input type="text" ng-model="vm.account.name" />
            </label>
        </div>

        <div class="large-12 columns">
            <label>Description
                <input type="text" ng-model="vm.account.description" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <button class="button" ng-click="vm.ok()">
                OK
            </button>

            <button class="button secondary" ng-click="vm.cancel()">
                Cancel
            </button>
        </div>
    </div>
</form>