<form>
    <h2>{{ ::(vm.isNew ? 'Create' : 'Edit' ) }} account </h2>

    <div class="row">
        <div class="large-11 columns">
            <label>Name
                <input type="text" ng-model="vm.account.name" />
            </label>
        </div>

        <div class="large-1 columns">
            <label> Technical
                <input type="checkbox" class="sf-checkbox"
                       ng-model="vm.account.technical">
            </label>
        </div>

        <div class="large-12 columns end">
            <label>Description
                <input type="text" ng-model="vm.account.description" />
            </label>
        </div>
    </div>

    <div class="row" ng-if="::vm.isNew" >
        <div class="large-12 columns">
            <label>
                <input type="checkbox" value="false"
                       ng-model="vm.createAnother">
                Create another
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-2 small-6 columns">
            <button class="button sf-button" ng-click="vm.save()">
                Save
            </button>
        </div>

        <div class="large-2 small-6 columns">
            <a class="button secondary sf-button" state-ref="app.account">
                Cancel
            </a>
        </div>

        <div class="large-2 small-6 columns end">
            <button ng-if="::!vm.isNew" class="button alert sf-button" ng-click="vm.delete()">
                Delete
            </button>
        </div>
    </div>
</form>