<form ng-submit="vm.save()">
    <h2>{{ ::(vm.isNew ? 'Create' : 'Edit' ) }} account </h2>

    <md-content>
        <md-input-container class="md-block" >
            <label>Name</label>
            <input type="text" ng-model="vm.account.name" />
        </md-input-container>

        <md-input-container class="md-block" >
            <md-checkbox ng-model="vm.account.technical">
                Technical
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block" >
            <label>Description</label>
            <input type="text" ng-model="vm.account.description" />
        </md-input-container>
    </md-content>

    <md-content>
        <md-checkbox ng-if="::vm.isNew" ng-model="vm.createAnother">
            Create another
        </md-checkbox>

        <md-button type="submit" class="md-raised md-primary">
            Save
        </md-button>

        <a state-ref="app.account">
            <md-button class="md-raised">
                Cancel
            </md-button>
        </a>

        <md-button ng-if="::!vm.isNew" ng-click="vm.delete()"
                   class="md-raised md-warn" >
            Delete
        </md-button>
    </md-content>
</form>