.sf-button {
  width: 100%;
}

.sf-checkbox {
  display: block;
  width: 2.3125rem;
  height: 2.3125rem;
}

.sf-block-link {
  display: block;
}

.sf-filter-body.ng-enter, .sf-filter-body.ng-leave {
  transition: all .4s;
}

.sf-filter-body.ng-enter,
.sf-filter-body.ng-leave.ng-leave-active {
  opacity: 0;
}

.sf-filter-body.ng-leave,
.sf-filter-body.ng-enter.ng-enter-active {
  opacity: 1;
}


[mass-autocomplete] {
  position: relative;
}

.ac-container {
  position: absolute;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important;

  .ac-menu {
    background-color: rgb(236, 247, 255);
  }
}
