.sf-table-container {
  width: 100%;
  overflow: auto;
  margin: 0 0 1em;

  table {
    border-collapse: collapse;
  }

  thead:first-child, tr:nth-child(even) {
    background: #ebf3fb;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
  }
  tr:nth-child(odd) {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
  }

  td, th {
    vertical-align: middle;
    padding: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ul.pagination {
  margin-bottom: 0;

  li {
    display: inline-block;
    float: none;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
  }

  li.active {
    a {
      color: black !important;
    }
  }
}
