.sf-table-container {
  width: 100%;
  overflow: auto;
  margin: 0 0 1em;

  td, th {
    vertical-align: middle;
    padding: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ul.pagination {
  margin-bottom: 0;

  li {
    display: inline-block;
    float: none;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
  }

  li.active {
    a {
      color: black !important;
    }
  }
}
